/*
Responsive CSS
============================*/
@media only screen and (max-width: 767px) {
  .ptb-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pt-100 {
    padding-top: 50px;
  }
  .pb-100 {
    padding-bottom: 50px;
  }
  .pb-70 {
    padding-bottom: 20px;
  }
  p {
    font-size: 15px;
  }
  .section-title {
    margin: 0 auto 30px;
  }
  .section-title h2 {
    font-size: 30px;
  }
  .section-title p {
    font-size: 15px;
  }
  .scroll-image {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    height: 400px;
    z-index: -2;
  }
  .map-image {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 0;
    width: 90%;
    margin: 0 auto;
    z-index: -1;
  }
  .book-banner-area {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .main-banner-content {
    text-align: center;
    max-width: 100%;
  }
  .main-banner-content span {
    font-size: 15px;
  }
  .main-banner-content h1 {
    font-size: 30px;
  }
  .main-banner-content .banner-btn {
    margin-top: 20px;
  }
  .banner-image {
    margin-top: 35px;
  }
  .book-about-content {
    padding: 0;
  }
  .book-about-content h3 {
    font-size: 26px;
  }
  .book-about-content li {
    font-size: 15px;
  }
  .single-fun-fact h3 {
    font-size: 30px;
    margin: 6px 0 5px 0;
  }
  .reviews-area {
    overflow: hidden;
  }
  .reviews-slides .reviews-feedback .single-feedback p {
    font-size: 15px;
  }
  .newsletter-form-content .newsletter-content {
    margin-top: 35px;
  }
  .newsletter-form-content .newsletter-content h2 {
    font-size: 25px;
  }
  .newsletter-form-content .newsletter-form button {
    position: relative;
    right: 0;
    top: 0;
    margin-top: 15px;
  }
  .author-content {
    padding: 20px;
  }
  .author-content h3 {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .author-content .social-icon {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .author-area .row .col-lg-4 {
    padding-right: 15px;
  }
  .author-image {
    text-align: center;
  }
  .contact-image {
    margin-bottom: 35px;
    text-align: center;
  }
  .app-about-area .container {
    padding: 20px;
  }
  .app-about-content {
    text-align: center;
  }
  .app-about-content h3 {
    font-size: 26px;
  }
  .app-about-image {
    text-align: center;
    margin-top: 35px;
  }
  .users-content h3 {
    font-size: 25px;
  }
  .circle1, .circle2 {
    position: relative;
    display: none;
  }
  .coupon-card {
    padding: 40px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
    max-width: 700px;
    margin: 0 auto;
  }
  #cpnCode {
    width: 100%;
    min-width: 200px;
  }
  #linkBtn {
    width: 100%;
    min-width: 263px;
  }
  .wowLg {
    transition-property: none !important;
    transform: none !important;
    animation: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ptb-100 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .pt-100 {
    padding-top: 70px;
  }
  .pb-100 {
    padding-bottom: 70px;
  }
  .pb-70 {
    padding-bottom: 40px;
  }
  .section-title {
    margin: 0 auto 30px;
  }
  .section-title h2 {
    font-size: 45px;
  }
  .book-banner-area {
    height: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .main-banner-content {
    text-align: center;
    max-width: 100%;
  }
  .main-banner-content span {
    font-size: 15px;
  }
  .main-banner-content h1 {
    font-size: 50px;
  }
  .main-banner-content .banner-btn {
    margin-top: 20px;
  }
  .book-about-content {
    padding: 0;
  }
  .book-about-content h3 {
    font-size: 36px;
  }
  .book-about-content li {
    font-size: 20px;
  }
  .single-fun-fact h3 {
    font-size: 30px;
    margin: 6px 0 5px 0;
  }
  .reviews-area {
    overflow: hidden;
  }
  .reviews-slides .reviews-feedback .single-feedback p {
    font-size: 20px;
  }
  .newsletter-form-content .newsletter-content {
    margin-top: 35px;
  }
  .newsletter-form-content .newsletter-content h2 {
    font-size: 35px;
  }
  .newsletter-form-content .newsletter-form button {
    position: relative;
    right: 0;
    top: 0;
    margin-top: 15px;
  }
  .author-content {
    padding: 20px;
  }
  .author-content h3 {
    font-size: 35px;
    margin-bottom: 15px;
  }
  .author-content .social-icon {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .author-area .row .col-lg-4 {
    padding-right: 15px;
  }
  .author-image {
    text-align: center;
  }
  .app-about-area {
    text-align: center;
  }
  .app-about-area .container {
    padding: 20px;
  }
  .app-about-content h3 {
    font-size: 36px;
  }
  .app-about-image {
    text-align: center;
    margin-top: 35px;
  }
  .app-download {
    text-align: center;
  }
  .users-content h3 {
    font-size: 35px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main-banner-content h1 {
    font-size: 60px;
  }
  .single-fun-fact p {
    font-size: 16px;
  }
}/*# sourceMappingURL=responsive.css.map */