/*
@File: Zebu Template Styles

* This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

** - Default CSS
** - Preloader Area CSS
** - Navbar Area CSS
** - Book Banner Area CSS
** - Book Area CSS
** - About Area CSS
** - Book Feature Area CSS
** - Newsletter Area CSS
** - Reviews Area CSS
** - Fun Facts Area CSS
** - Pricing Area CSS
** - Author Area CSS
** - Blog Area CSS
** - Contact Area CSS
** - Products Banner Area CSS
** - Products Feature Area CSS
** - Video Area CSS
** - Why Choose Area CSS
** - Products Area CSS
** - FAQ Area CSS
** - Gallery Area CSS
** - App Download Area CSS
** - App Banner Area CSS
** - App Feature Area CSS
** - Screenshot Area CSS
** - Team Area CSS
** - Testimonial Area CSS
** - Saas Banner Area CSS
** - Saas Feature Area CSS
** - Overview Area CSS
** - Page Title Area CSS
** - Blog Details Area CSS
** - Sidebar Widget Area CSS
** - Product Details Area CSS
** - Copy Right CSS
** - Go Top CSS

*/
/*================================================
Default CSS
=================================================*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
:root {
  --mainfontFamily: "Montserrat", sans-serif;
  --optionalfontFamily: "Nunito", sans-serif;
  --mainColor: #f68221;
  --optionalColor:#444;
  --whiteColor: #ffffff;
  --blackColor: #031521;
  --blueColor: #6c8cc7;
  --fontSize: 21px;
  --transition: .5s;
}

body {
  padding: 0;
  margin: 0;
  color: var(--optionalColor);
  font-family: var(--mainfontFamily);
  font-size: var(--fontSize);
  overflow-x: hidden;
}

a {
  transition: var(--transition);
  color: var(--blackColor);
}
a:hover, a:focus {
  text-decoration: none;
  color: var(--mainColor);
  outline: 0;
}

button:focus, input:focus {
  outline: 0;
}

p {
  color: var(--optionalColor);
  line-height: 1.6;
  margin-bottom: 12px;
  font-size: var(--fontSize);
  font-family: var(--optionalfontFamily);
}
p:last-child {
  margin-bottom: 0;
}

.d-table {
  width: 100%;
  height: 100%;
}
.d-table-cell {
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--blackColor);
  font-weight: bold;
}

.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-70 {
  padding-bottom: 70px;
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1300px;
  }
}
.default-btn {
  border: none;
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  background-color: var(--mainColor);
  color: var(--whiteColor);
  transition: var(--transition);
  border-radius: 5px;
  opacity: 1;
  font-family: var(--optionalfontFamily);
  font-weight: 500;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.default-btn span {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: var(--blackColor);
  color: var(--whiteColor);
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 30px;
  opacity: 1;
}
.default-btn:hover {
  color: var(--whiteColor) !important;
}
.default-btn:hover span {
  width: 225%;
  height: 562.5px;
}
.default-btn i {
  font-size: 12px;
  position: relative;
  top: -1px;
  margin-left: 10px;
}

.section-title {
  text-align: center;
  max-width: 900px;
  margin: 0 auto 45px;
}
.section-title h2 {
  font-size: 55px;
  margin-bottom: 14px;
}
.section-title h3 {
  font-size: 28px;
  margin-bottom: 14px;
  text-transform: none;
  line-height: 1.6;
}
.section-title p {
  line-height: 1.8;
}

/*================================================
Preloader Area CSS
=================================================*/
.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: var(--mainColor);
  top: 0;
  left: 0;
}
.preloader .loader {
  position: absolute;
  top: 43%;
  left: 0;
  right: 0;
  transform: translateY(-43%);
  text-align: center;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}
.preloader .box {
  width: 100%;
  height: 100%;
  background: var(--whiteColor);
  animation: animate 0.5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}
.preloader .shadow {
  width: 100%;
  height: 5px;
  background: var(--whiteColor);
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.5s linear infinite;
}

@keyframes loader {
  0% {
    left: -100px;
  }
  100% {
    left: 110%;
  }
}
@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
@keyframes shadow {
  50% {
    transform: scale(1.2, 1);
  }
}
/*================================================
Navbar Area CSS
=================================================*/
.navbar {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
  background-color: var(--whiteColor) !important;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

.navbar-light {
  background-color: transparent !important;
}
.navbar-light .logo h3 {
  font-size: 35px;
  margin-bottom: 0;
}
.navbar-light .navbar-nav {
  margin: auto;
}
.navbar-light .navbar-nav .nav-item {
  position: relative;
  padding: 0;
}
.navbar-light .navbar-nav .nav-item a {
  font-size: var(--fontSize);
  color: var(--blackColor);
  text-transform: capitalize;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 600;
  margin-left: 14px;
  margin-right: 14px;
}
.navbar-light .navbar-nav .nav-item a:hover, .navbar-light .navbar-nav .nav-item a:focus, .navbar-light .navbar-nav .nav-item a.active {
  color: var(--mainColor);
  position: relative;
  transition: var(--transition);
}
.navbar-light .navbar-nav .nav-item a i {
  font-size: 16px;
  position: relative;
  top: 2px;
  display: inline-block;
  margin-left: -4px;
  margin-right: -4px;
}
.navbar-light .navbar-nav .nav-item:last-child a {
  margin-right: 0;
}
.navbar-light .navbar-nav .nav-item:first-child a {
  margin-left: 0;
}
.navbar-light .navbar-nav .nav-item:hover a, .navbar-light .navbar-nav .nav-item.active a {
  color: var(--mainColor);
  transition: var(--transition);
}
.navbar-light .others-option .option-item .social-icon {
  padding-left: 0;
  margin-bottom: 0;
}
.navbar-light .others-option .option-item .social-icon li {
  display: inline-block;
  list-style-type: none;
  margin-right: 5px;
}
.navbar-light .others-option .option-item .social-icon li:last-child {
  margin-right: 0;
}
.navbar-light .others-option .option-item .social-icon li i {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #dddddd;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 600;
  transition: var(--transition);
  color: var(--blackColor);
}
.navbar-light .others-option .option-item .social-icon li i:hover {
  background-color: var(--mainColor);
  border: 1px solid var(--mainColor);
  color: var(--whiteColor);
}

/*================================================
Book Banner Area CSS
=================================================*/
.book-banner-area {
  position: relative;
  z-index: 1;
  height: 100vh;
}
.book-banner-area .banner-image-25 img {
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.book-banner-area .main-banner-content p {
  color: var(--blackColor);
}
.book-banner-area .main-banner-content .text p {
  color: var(--blackColor);
}

.main-banner-content {
  position: relative;
  z-index: 1;
}
.main-banner-content span {
  font-size: 24px;
  color: var(--whiteColor);
  font-weight: 500;
}
.main-banner-content h1 {
  font-size: 80px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.main-banner-content p {
  margin-bottom: 0;
}
.main-banner-content .banner-btn {
  margin-top: 30px;
}
.main-banner-content .text {
  margin-top: 10px;
}
.main-banner-content .text p {
  margin-bottom: 0;
}
.main-banner-content .banner-holder {
  margin-top: 30px;
}
.main-banner-content .banner-holder a {
  margin-right: 10px;
}
.main-banner-content .banner-holder a:last-child {
  margin-right: 0;
}

/*================================================
Book Area CSS
=================================================*/
/*================================================
About Area CSS
=================================================*/
.book-about-image {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}
.book-about-image img {
  width: 100%;
  position: sticky;
  top: 10px;
}

.book-about-content {
  padding: 10px;
}
.book-about-content h3 {
  font-size: 40px;
  margin-bottom: 16px;
}
.book-about-content strong {
  display: block;
  font-weight: 400;
  letter-spacing: 2px;
}
.book-about-content p {
  margin-top: 15px;
  margin-bottom: 0;
}
.book-about-content .book-list {
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
}
.book-about-content .book-list li {
  list-style-type: none;
  margin-bottom: 12px;
  padding-left: 35px;
  position: relative;
  font-weight: 500;
}
.book-about-content .book-list li:last-child {
  margin-bottom: 0;
}
.book-about-content .book-list li span {
  display: block;
  font-size: smaller;
  font-style: italic;
  margin-top: 5px;
  font-weight: 400;
}
.book-about-content .book-list li:before {
  content: "\f1d8";
  font-family: "Line Awesome Free";
  font-weight: 900;
  color: #f68221;
  font-size: 25px;
  position: absolute;
  top: -5px;
  left: 0;
  text-align: center;
  margin: auto;
}

.app-about-content h3 {
  font-size: 30px;
  margin-bottom: 16px;
  line-height: 1.4;
}
.app-about-content p {
  margin-top: 15px;
  margin-bottom: 0;
}
.app-about-content .app-list {
  padding-left: 0;
  margin-top: 25px;
  margin-bottom: 0;
}
.app-about-content .app-list li {
  list-style-type: none;
  margin-bottom: 12px;
  text-transform: capitalize;
}
.app-about-content .app-list li:last-child {
  margin-bottom: 0;
}
.app-about-content .app-list li i {
  font-size: 20px;
  color: var(--mainColor);
  margin-right: 5px;
}
.app-about-content .about-btn {
  margin-top: 25px;
}

#start {
  background: rgb(83, 110, 165);
  background-image: url(../../assets/img/main-bg.svg), linear-gradient(180deg, rgb(83, 110, 165) 0%, rgb(108, 140, 199) 50%, rgb(128, 160, 221) 100%);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  z-index: -2;
}

.map-image {
  background-image: url(../../assets/img/map.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -50px;
  left: -40px;
  width: 800px;
  height: 500px;
  z-index: -1;
}

.scroll-image {
  background-image: url(../../assets/img/arrows.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -120px;
  left: 35px;
  width: 1000px;
  height: 700px;
  z-index: -2;
}

.app-about-area .container {
  background-color: var(--whiteColor);
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.2);
  padding: 45px 75px;
  z-index: 3;
}

.app-about-image {
  text-align: left;
}

/*================================================
Book Feature Area CSS
=================================================*/
/*================================================
Newsletter Area CSS
=================================================*/
/*================================================
Reviews Area CSS
=================================================*/
.reviews-area {
  background-color: #fafafa;
  background-image: url(../../assets/img/main-bg2.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.reviews-area.bg-ffffff {
  background-color: var(--whiteColor);
}

.reviews-slides {
  position: relative;
}
.reviews-slides .reviews-feedback {
  position: relative;
}
.reviews-slides .reviews-feedback .single-feedback {
  text-align: center;
  position: relative;
  margin-bottom: 35px;
}
.reviews-slides .reviews-feedback .single-feedback p {
  position: relative;
  line-height: 1.5;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: var(--fontSize);
  font-weight: normal;
  font-style: italic;
}
.reviews-slides .reviews-feedback .single-feedback .icon i {
  font-size: 65px;
  color: var(--mainColor);
  margin-bottom: 20px;
}
.reviews-slides .reviews-thumbnails {
  position: relative;
  max-width: 550px;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}
.reviews-slides .reviews-thumbnails .item .img-fill {
  cursor: pointer;
  position: relative;
  text-align: center;
}
.reviews-slides .reviews-thumbnails .item .img-fill img {
  opacity: 0.7;
  transition: var(--transition);
  display: inline-block;
  position: relative;
  border-radius: 50%;
  width: 85px;
  transform: scale(0.9);
}
.reviews-slides .reviews-thumbnails .item .title {
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
  margin: 20px -100px 0;
  text-align: center;
}
.reviews-slides .reviews-thumbnails .item .title h3 {
  margin-bottom: 0;
  text-transform: capitalize;
  font-size: 22px;
}
.reviews-slides .reviews-thumbnails .item .title span {
  display: block;
  color: var(--mainColor);
  font-size: 14px;
  margin-top: 8px;
}
.reviews-slides .reviews-thumbnails .item.slick-center .title {
  opacity: 1;
  visibility: visible;
}
.reviews-slides .reviews-thumbnails .item.slick-center .img-fill img {
  opacity: 1;
  transform: scale(1);
}
.reviews-slides .next-arrow, .reviews-slides .prev-arrow {
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: #bcbcbc;
  z-index: 1;
  border-radius: 50%;
  outline: 0 !important;
  transition: var(--transition);
  font-size: 45px;
}
.reviews-slides .next-arrow:hover, .reviews-slides .prev-arrow:hover {
  color: var(--mainColor);
}
.reviews-slides .next-arrow {
  right: -65px;
}
.reviews-slides .prev-arrow {
  left: -65px;
}
.reviews-slides:hover .next-arrow, .reviews-slides:hover .prev-arrow {
  opacity: 1;
  visibility: visible;
}
.reviews-slides .slick-list {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.slick-slide {
  outline: 0;
}

/*================================================
Fun Facts Area CSS
=================================================*/
.fun-facts-area {
  background-image: url(../../assets/img/fun-facts-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  background-attachment: fixed;
}
.fun-facts-area::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #000000;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.5;
  z-index: -1;
}
.fun-facts-area.bg-ffffff {
  background-image: url(../../assets/img/fun-facts-bg2.jpg);
}
.fun-facts-area.bg-transparent {
  background-image: unset;
}
.fun-facts-area.bg-transparent::before {
  display: none;
}
.fun-facts-area .section-title h3 {
  color: var(--whiteColor);
}
.fun-facts-area .section-title h2 {
  color: var(--whiteColor);
}
.fun-facts-area .section-title p {
  color: var(--whiteColor);
}

.single-fun-fact {
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  background-color: #f3f3f3;
  border: 1px solid #f3f3f3;
  padding: 30px 40px;
  z-index: 1;
  transition: var(--transition);
  border-radius: 5px;
}
.single-fun-fact .icon i {
  font-size: 50px;
  color: var(--mainColor);
  line-height: 1;
  transition: var(--transition);
}
.single-fun-fact h3 {
  position: relative;
  font-size: 40px;
  font-weight: 700;
  margin: 15px 0 5px 0;
  transition: var(--transition);
}
.single-fun-fact p {
  line-height: initial;
  margin: 0 0 0 0;
  transition: var(--transition);
  font-size: 21px;
  font-weight: 500;
}
.single-fun-fact::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 0%;
  background: var(--mainColor);
  border-radius: 5px;
  transition: var(--transition);
}
.single-fun-fact:hover {
  border: 1px solid var(--mainColor);
}
.single-fun-fact:hover::before {
  height: 100%;
}
.single-fun-fact:hover .icon i {
  color: var(--whiteColor);
}
.single-fun-fact:hover h3 {
  color: var(--whiteColor);
}
.single-fun-fact:hover h3 .sign-icon {
  color: var(--whiteColor);
}
.single-fun-fact:hover p {
  color: var(--whiteColor);
}

/*================================================
Pricing Area CSS
=================================================*/
/*================================================
Author Area CSS
=================================================*/
.author-area .row {
  background-color: #fafafa;
}
.author-area .row .col-lg-4 {
  padding-right: 0;
}

.author-content {
  padding: 30px;
}
.author-content h3 {
  font-size: 28px;
  margin-bottom: 20px;
}
.author-content .social-icon {
  padding-left: 0;
  margin-top: 25px;
  margin-bottom: 0;
}
.author-content .social-icon li {
  display: inline-block;
  list-style-type: none;
  margin-right: 5px;
}
.author-content .social-icon li:last-child {
  margin-right: 0;
}
.author-content .social-icon li i {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #dddddd;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 600;
  transition: var(--transition);
  color: var(--blackColor);
}
.author-content .social-icon li i:hover {
  background-color: var(--mainColor);
  border: 1px solid var(--mainColor);
  color: var(--whiteColor);
}

/*================================================
Blog Area CSS
=================================================*/
/*================================================
Contact Area CSS
=================================================*/
.contact-form form .form-group {
  margin-bottom: 15px;
}
.contact-form form .form-control {
  height: 55px;
  padding: 0 15px;
  line-height: initial;
  color: var(--blackColor);
  background-color: transparent;
  border: 1px solid #cecfdf;
  border-radius: 2px;
  transition: var(--transition);
  box-shadow: unset !important;
  font-weight: 500;
  font-size: 15px;
}
.contact-form form .form-control:focus {
  border: 1px solid var(--mainColor);
}
.contact-form form .form-control::-moz-placeholder {
  color: var(--optionalColor);
}
.contact-form form .form-control::placeholder {
  color: var(--optionalColor);
}
.contact-form form textarea.form-control {
  height: auto !important;
  padding-top: 15px;
}
.contact-form .send-btn {
  margin-top: 10px;
}
.contact-form .with-errors ul {
  padding-left: 0;
  list-style-type: none;
  margin-top: 5px;
  margin-bottom: 0;
}
.contact-form .with-errors ul li {
  color: red;
  font-weight: 500;
  font-size: 14px;
}
.contact-form #msgSubmit {
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 500;
}
.contact-form #msgSubmit.text-danger {
  margin-top: 20px !important;
}

/*================================================
Products Banner Area CSS
=================================================*/
/*================================================
Products Feature Area CSS
=================================================*/
/*================================================
Video Area CSS
=================================================*/
/*================================================
Why Choose Area CSS
=================================================*/
/*================================================
Products Area CSS
=================================================*/
/*================================================
FAQ Area CSS
=================================================*/
/*================================================
Gallery Area CSS
=================================================*/
/*================================================
App Download Area CSS
=================================================*/
/*================================================
App Banner Area CSS
=================================================*/
/*================================================
App Feature Area CSS
=================================================*/
/*================================================
Screenshot Area CSS
=================================================*/
/*================================================
Team Area CSS
=================================================*/
/*================================================
Testimonial Area CSS
=================================================*/
/*================================================
Saas Banner Area CSS
=================================================*/
/*================================================
Saas Feature Area CSS
=================================================*/
/*================================================
Overview Area CSS
=================================================*/
/*================================================
Page Title Area CSS
=================================================*/
/*================================================
Blog Details Area CSS
=================================================*/
/*================================================
Sidebar Widget Area CSS
=================================================*/
/*================================================
Product Details Area CSS
=================================================*/
/*================================================
Specification Area CSS
=================================================*/
/*================================================
Users Area CSS
=================================================*/
.users-area {
  background-image: url(../../assets/img/vk-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: repeat-x;
  position: relative;
  z-index: 1;
  background-attachment: fixed;
}
.users-area::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #000000;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.5;
  z-index: -1;
}

.users-content h3 {
  font-size: 50px;
  color: var(--whiteColor);
  margin-bottom: 16px;
  line-height: 1.4;
}
.users-content p {
  margin-bottom: 0;
  color: var(--whiteColor);
}
.users-content .users-btn {
  margin-top: 30px;
}

/*================================================
Copy Right CSS
=================================================*/
/*================================================
Go Top CSS
=================================================*/
.go-top {
  position: fixed;
  cursor: pointer;
  bottom: -100px;
  right: 20px;
  color: var(--whiteColor);
  background-color: var(--blackColor);
  z-index: 4;
  width: 45px;
  text-align: center;
  height: 45px;
  opacity: 0;
  visibility: hidden;
  border-radius: 50%;
  font-size: 22px;
  transition: 0.9s;
  overflow: hidden;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}
.go-top i {
  position: absolute;
  right: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}
.go-top.active {
  opacity: 1;
  visibility: visible;
  bottom: 20px;
}
.go-top:hover {
  background-color: var(--mainColor);
  color: var(--whiteColor);
  transition: var(--transition);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transform: translateY(-5px);
}

/*================================================
Modal CSS
=================================================*/
/*==============================
Sidebar Eaxmple Demo CSS
==============================*/
/*================================================
Coupon CSS
=================================================*/
.coupon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.coupon-card {
  background: rgb(83, 110, 165);
  background: linear-gradient(90deg, rgb(83, 110, 165) 0%, rgb(108, 140, 199) 50%, rgb(128, 160, 221) 100%);
  color: #fff;
  text-align: center;
  padding: 40px 80px;
  border-radius: 15px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
  position: relative;
}

.logo {
  width: 80px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.coupon-card h3 {
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
}

.coupon-card p {
  font-size: 15px;
}

.coupon-row {
  display: flex;
  align-items: center;
  margin: 25px auto;
  width: -moz-fit-content;
  width: fit-content;
}

#cpnCode {
  border: 1px dashed #fff;
  padding: 10px 20px;
  border-right: 0;
}

#cpnBtn {
  border: 1px solid #fff;
  background: #fff;
  padding: 10px 20px;
  color: #6c8cc7;
  cursor: pointer;
}

.circle1, .circle2 {
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.circle1 {
  left: -25px;
}

.circle2 {
  right: -25px;
}/*# sourceMappingURL=style.css.map */